<!DOCTYPE html>
<html>

<head>
  <title>Task Table</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/alltask.css">
  <script src="js/alltask.js"></script>
</head>

<body>
  <div class="main-container">
    <h1>Task Table</h1>

    {{#if latestUsername}}
    <p>{{latestUsername}}</p>
    {{/if}}


    <table>
      <tr>
        <th>Username</th>
        <th>Task</th>
      </tr>
      {{#each allTask}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.task}}</td>
      </tr>
      {{/each}}
    </table>

        <div class="new">
      <button type="button" onclick="logout()" class="btn btn-danger">Logout</button>
    </div>
    <br>


    <div class="new">
      <button type="button"  class="btn btn-danger" onclick="createTask()">Create New Task</button>
    </div>
  </div>
</body>

</html>