<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="css/task.css">
<script src="js/task.js"></script>

<div class="container">
  <h1>Task List</h1>

  <h1>Current User: {{currentUser}}</h1>

  <div id="logout">
    <button type="button" onclick="logout()">Logout</button>
  </div>

  <div id="newTask">

    <form class="login-form" action='/' method="post">
      <input type="text" id="task" name="task" placeholder="Enter a Task">
      <button id="push" type="submit">ADD</button>
    </form>
  </div>
  {{#if blankError}}
  <p>{{blankError}}</p>
  {{/if}}

  <div id="tasks"></div>
</div>


